body {
	margin: 0;
}

.page-wrapper-container {
	background-color: #673ab7;
	height: 100vh;
}

.page-wrapper {
	max-width: 1024px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.page-wrapper h1 {
	margin: 0 0 50px 0;
	font-family: 'Arial', sans-serif;
	text-align: center;
	color: #fff;
	font-size: 60px;
}

.animations-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.animations-wrapper a {
	text-decoration: none;
}

.blinking-moving-star, .button-animation, .float-object-animation, .shaking-object-animation, .translate-bottom, .translate-left, .translate-right, .translate-top {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: hotpink;
	margin: 0 40px 40px 0;
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.blinking-moving-star h4, .button-animation h4, .float-object-animation h4, .shaking-object-animation h4, .translate-bottom h4, .translate-left h4, .translate-right h4, .translate-top h4 {
	text-align: center;
    line-height: 26px;
    font-family: 'Arial', sans-serif;
}

.blinking-moving-star {
	background-color: #e91e63;
	transition: 0.5s transform linear;
	color: #fff;
}

.blinking-moving-star:hover {
	transform: scale(0.9);
}

.button-animation {
	background-color: #26db66;
	color: #fff;
	transition: 0.5s transform linear;
}

.button-animation:hover {
	transform: scale(0.9);
}

.float-object-animation {
	background-color: #ffeb3b;
	transition: 0.5s transform linear;
	color: #000;
}

.float-object-animation:hover {
	transform: scale(0.9);
}

.shaking-object-animation {
	background-color: #03a9f4;
	color: #fff;
	transition: 0.5s transform linear;
}

.shaking-object-animation:hover {
	transform: scale(0.9);	
}

.translate-bottom {
	background-color: aquamarine;
	color: #fff;
	transition: 0.5s transform linear;
}

.translate-bottom:hover {
	transform: scale(0.9);	
}

.translate-left {
	background-color: #ffc107;
	color: #fff;
	transition: 0.5s transform linear;
}

.translate-left:hover {
	transform: scale(0.9);
}

.translate-right {
	background-color: antiquewhite;
	transition: 0.5s transform linear;
}

.translate-right:hover {
	transform: scale(0.9);
}

.translate-top {
	background-color: #ff9007;
	color: #fff;
	transition: 0.5s transform linear;
}

.translate-top:hover {
	transform: scale(0.9);
}